.copy_right_footer{
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
background-color:darkgrey;
}
body{
background-color:aliceblue
}

/* #result1{
box-shadow: 0 6px 8px rgba(2,2,2,0.2) ;
}

#result3{
    box-shadow: 0 6px 8px rgba(2,2,2,0.2) ;
}

#resul2{
    box-shadow: 0 6px 8px rgba(2,2,2,0.2) ; 
} */

img:hover{

    border-radius: 140;
}